{% extends "flagging/layout.html"%}

{% block head %}
    <title> Customer: {{Customer.first_name}} {{Customer.last_name}} </title>  
{% endblock %}

{% block body %}
<h1> Flags for Customer: {{Customer.first_name}} {{Customer.last_name}} </h1>

{% if not flags %}
<h2> This customer has no flags</h2>
{% endif %}

<ol>
    {% for flag in flags %}
    <li> Flag: {{ flag.id }} <br>
        Date: {{ flag.Date }} <br>
        Message: {{ flag.Message }}<br>
    </li>
    {% endfor %}
</ol>

{% endblock %}
